.App {
  text-align: center;
  margin: 0;
  h1 {
    margin: 0 0;
    padding: 10px;
  }

  @keyframes move {
    from {
      background-position: top;
    }
    to {
      background-position: bottom;
    }
  }

  @keyframes turn {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .background {
    background: linear-gradient(#7f7fd5, #86a8e7, #91eae4);
    background-repeat: repeat;
    background-size: 400% 400%;
    animation: move ease-in 3s infinite alternate;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }
  .container {
    position: relative;
  }

  .logo-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    #loadingLogo {
      width: 160px;
      height: 160px;
      animation: turn 2s linear infinite;
    }
  }

  .cat-image {
    width: 360px;
    height: 360px;
    object-fit: cover;
    box-shadow: 0 0 1rem rgb(0 0 0 / 30%);
    border-radius: 5px;
  }
  button {
    height: 36px;
    width: 156px;
    border-radius: 10px;
    border: none;

    cursor: pointer;
  }
}
